<!DOCTYPE html>
<html>
	<head>
	  <title>Blogger</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
		<div class="page-header" style="margin-left: 45px;">
			Blog Post Application
		  <h5 style="float: right; margin-right: 70px;">
		    <% if signed_in? %>
		      <%= "Logged in as #{current_user.email}" %>
		    <% else %>
		      Logged out
		    <% end %>
			</h5>
		</div>
		<p><%= flash.notice %></p>
		<div class="container">
			<%= yield %>
		</div>
		<div class="panel-footer" style="text-align: center">
			Copyright
		</div>
	</body>
</html>
